/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

/* rem units */
html {
    font-size: 62.5%;
}

/* variables de colores*/
:root {
    --color-primario: #141414;
    --color-secundario: #323232;
    --color-terciario: #fff;
    --color-cuaternario: #39e079;
}

/* Restablecer estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Estilos generales */
body {
    font-family: "Work Sans", sans-serif;
    font-size: 1.6rem;
    background-color: var(--color-secundario);
    --scrollbar-border-thickness: 0px;
    --scrollbar-width: 5px;
    --scrollbar-height: 5px;
    --scrollbar-thumb-color: #141414;
    --scrollbar-border-radius: 5px;
    --scrollbar-track-color: #32323275;
    --scrollbar-button-color: #141414;
    --scrollbar-corner-color: #32323275;
    --scrollbar-border-color: #32323275;
}

/* Scrollbar CSS */
body::-webkit-scrollbar {
    width: var(--scrollbar-width, 20px);
    height: var(--scrollbar-height, 20px);
}

body::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color, #3B82F6);
    border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255));
    border-radius: var(--scrollbar-border-radius, 4px);
}

body::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color, #A1A1AA);
}

body::-webkit-scrollbar-corner {
    background: var(--scrollbar-corner-color, #FFFFFF);
    border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255));
    border-radius: var(--scrollbar-border-radius, 4px);
}

body::-webkit-scrollbar-button:vertical:start:increment, #preview::-webkit-scrollbar-button:vertical:end:decrement, #preview::-webkit-scrollbar-button:horizontal:start:increment, #preview::-webkit-scrollbar-button:horizontal:end:decrement {
    display: var(--show-double-buttons, none);
}

/* Header */
header {
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: var(--color-primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-terciario);
    padding: 1rem 1.5rem;
}

.logo img {
    width: 10rem;
    height: auto;
}

.name a {
    margin: 0;
    text-decoration: none;
    color: var(--color-terciario);
    font-size: 2.4rem;
}

.name a:hover {
    color: var(--color-cuaternario);
}

header nav {
    display: flex;
    gap: 1rem;
}

header nav a {
    margin-right: 1rem;
    text-decoration: none;
    color: #fff;
}

header nav a:hover {
    color: var(--color-cuaternario);
}

/* Main */
iframe {
    width: 100%;
    height: 100vh;
    border: none;
}

/* Footer */
footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: var(--color-secundario);
    text-align: center;
    color: #fff;
    width: 100%;
    height: 15rem;
}

footer small {
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Social Icons */
.social-icons {
    margin-bottom: 4rem;
}

.social-icons a {
    margin: 0 1rem;
    color: var(--color-terciario);
    text-decoration: none;
}