/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* variables de colores*/
:root {
    --color-primario: #141414;
    --color-secundario: #323232;
    --color-terciario: #fff;
    --color-cuaternario: #39e079;
}

/* Restablecer estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Estilos generales */
body {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    background-color: var(--color-primario);
}

/* Header */
header {
    background-color: var(--color-primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-terciario);
    padding: 30px 15px;
}

.container-logo {
    font-family: "Lexend", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo i {
    font-size: 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header nav {
    display: flex;
    gap: 10px;
}

header nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
}

header nav a:hover {
    color: var(--color-cuaternario);
}

/* Main */
main{
    margin-bottom: 30px;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: var(--color-secundario);
}

.band-section {
    position: relative;
}

.image-overlay {
    position: relative;
}

.image-overlay img {
    width: 100%;
    height: auto;
    display: block;
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
}

.band-section img {
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.container-actions {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.container-actions h2 {
    font-family: "Lexend", sans-serif;
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 600;
}

.container-actions a {
    font-weight: 800;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.play-button {
    background-color: var(--color-cuaternario);
    color: var(--color-primario);
}

.follow-button {
    background-color: var(--color-secundario);
    color: #fff;
}

.container-actions a:hover {
    color: #ccc;
}

.releases-section {
    padding: 20px;
    color: var(--color-terciario);
}

.releases-section h2 {
    font-family: "Lexend", sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
}

/* Secciones */
#releases {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.image-container {
    position: relative;
    width: 350px;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.image-container img:hover {
    scale: 1.1;
    margin-bottom: 15px;
    transition: 0.5s;
}

.image-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    background-color: var(--color-cuaternario);
    position: absolute;
    border-radius: 30px;
    top: 5%;
    left: 5%;
}

.image-container button:hover {
    scale: 1.1;
    transition: 0.5s;
}

.image-container button i {
    margin: 10px 13px;
    font-size: 20px;
    color: var(--color-primario);
}


/* Pie de página */
footer {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: var(--color-primario);
    text-align: center;
    color: #fff;
    width: 100%;
    height: 150px;
}

.social-icons {
    margin-bottom: 40px;
}

.social-icons a {
    margin: 0 10px;
    color: var(--color-terciario);
    /* Cambia el color de los iconos aquí */
    text-decoration: none;
}